:root {
  --max-width: 900px;
  --square-size: 56.25px;
}


body {
  margin: 0;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2f2e2e;
  color: #e6e2e2;
  font-family: 'Courier New', Courier, monospace;
}

.new-grid {
  background-color: #e6e2e2;
  border: none;
  font-size: 18px;
  border-radius: 8px;
  padding: 7px;
  color: #2f2e2e;
}


.square {
  height: var(--square-size);
  width: var(--square-size);
  border: 1px solid #2f2e2e;
  padding: 0;
  margin: 0;
}

.square:hover {
  background-color: #a09c9c;
}

.square.red { background-color: #E63946; }
.square.blue { background-color: #1D3557; }
.square.green { background-color: #2A9D8F; }
.square.yellow { background-color: #E9C46A; }
.square.orange { background-color: #F4A261; }
.square.purple { background-color: #8338EC; }
.square.pink { background-color: #FF006E; }
.square.teal { background-color: #008080; }
.square.cyan { background-color: #00B4D8; }
.square.lime { background-color: #32CD32; }
.square.brown { background-color: #7B3F00; }
.square.lavender { background-color: #E6E6FA; }
.square.gold { background-color: #D4AF37; }
.square.silver { background-color: #C0C0C0; }
.square.charcoal { background-color: #36454F; }

.container {
  display: flex;
  flex-wrap: wrap;
  width: var(--max-width);
  height: var(--max-width);
}